{% extends "base.html" %}

{% block content %}
    <div class="loginForm">
        <h1>Inicio de sesión</h1>
        <form method="POST">
            <div class="username">
                <input type="text" required="" placeholder="">
                <label>Nombre de usuario</label>
            </div>
            <div class="username">
                <input type="password" required="" placeholder="">
                <label>Contraseña</label>
            </div>
            <div class="recover">¿Olvido su contraseña?</div>
            <input type="submit" value="Iniciar">
        </form>
    </div>
{% endblock %}